language: ruby
addons:
  chrome: stable
  apt:
    packages:
      - firefox

rvm:
  - ruby-head
  - 2.7
  - 2.6
  - 2.5
matrix:
  allow_failures:
    - rvm: ruby-head

script:
  - npm install -g markdownlint-cli
  - markdownlint *.md
  - bundle exec rspec
